.gsd-keyboard.settings-ported
Antigravity/
BraveSoftware/
Code/.org.chromium.Chromium.ALR5tq
Code/Cache/
Code/CachedConfigurations/
Code/CachedData/
Code/CachedExtensionVSIXs/
Code/CachedProfilesData/
Code/Code Cache/
Code/Cookies
Code/Cookies-journal
Code/Crashpad/
Code/DIPS
Code/DawnGraphiteCache/
Code/DawnWebGPUCache/
Code/Dictionaries/
Code/GPUCache/
Code/Local Storage/
Code/Network Persistent State
Code/Preferences
Code/Service Worker/
Code/Session Storage/
Code/Shared Dictionary/
Code/SharedStorage
Code/TransportSecurity
Code/Trust Tokens
Code/Trust Tokens-journal
Code/User/History/
Code/User/globalStorage/
Code/User/mcp.json
Code/User/sync/
Code/User/workspaceStorage/
Code/WebStorage/
Code/languagepacks.json
Code/logs/
Code/machineid
Cursor/
GIMP/
Microsoft/
Mousepad/
QtProject.conf
SolarVim/
Thunar/
Windsurf/
X-Cinnamon-xdg-terminals.list
# alacritty/
autostart/
bashtop/
bruno/
caja/
cinnamon/
configstore/
copyq/
create-next-app-nodejs/
dconf/
enchant/
evolution/
fastfetch/config.jsonc2
flameshot/
gh/
github-copilot/
go/
gromit-mpx.ini
gtk-3.0/
helm/
htop/
kitty/my_kittens/
lazydocker/
libreoffice/
menus/
mimeapps.list
nemo/
nextjs-nodejs/
ngrok/
nvchadmine/
nvim-local/
nvim/
nvimmichael/
pavucontrol.ini
polybar.old/
polybar/blocks/
polybar/colorblocks/
polybar/cuts/
polybar/docky/
polybar/forest/
polybar/grayblocks/
polybar/hack/
polybar/launch.sh
polybar/material/
polybar/panels/
polybar/pwidgets/
polybar/shades/
polybar/shapes/
polybar2/
pulse/
qutebrowser/
ranger/
sticky/
tmux/plugins/
touchegg/
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
xed/
xfburn/
xfce4-dict/
xfce4/help.rc
xfce4/helpers.rc
xfce4/panel/xfce4-clipman-actions.xml
xfce4/xfce4-screenshooter
xfce4/xfconf/xfce-perchannel-xml/xfce4-screensaver.xml
xviewer/
VirtualBox/
avante.nvim/
Code/Backups/
